* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.image {
    width: 31vw;
    height: 25vh;
}

.card {
    width: 31vw;
    height: 50vh;
    display: flex;
    flex-direction: column;
    position: relative;
}

.heading {
    opacity: 70%;
}

.news {
    margin-top: 10px;
    text-align: justify;
    margin-bottom: 2rem;
    font-size: 1.2rem;
}

.game_name {
    border-left: 4px solid rgb(197, 197, 1);
    font-size: 1.3rem;
    letter-spacing: 2px;
    opacity: 90%;
    padding-left: 1rem;
    position: absolute;
    bottom: 0;
}